
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.card-footer{
text-align: center;
}

.foter{
    background-color: #343A40;
}

.container.mt-3{

background-color: #EAECEF;
display: flex;

}

.row{
    justify-content: center;
}


.navbar-collapse{
    justify-content: end;
}

* {
    border: 2px solid red;
  }